///-------------------------------------
/// MARGIN
///-------------------------------------
/// t = top
/// b = bottom
/// l = left
/// r = right
/// tb = top + bottom
/// lr = left + right
/// tblr = top + bottom + left + right
///-------------------------------------
/// cascade
///-----------------

.margin(
  @tblr : auto ;
  @tb : @tblr ;
  @lr : @tblr ;
  @t : @tb ; @b : @tb ;
  @l : @lr ; @r : @lr
) {
  .margin-t-b-l-r( @t ; @b ; @l ; @r );
}

///-----------------
/// set 1 at a time
///-----------------

.margin-t( @t ) { margin-top    : @t; }
.margin-b( @b ) { margin-bottom : @b; }
.margin-l( @l ) { margin-left   : @l; }
.margin-r( @r ) { margin-right  : @r; }

.margin-t-b( @t ; @b ) {
  .margin-t( @t );
  .margin-b( @b );
}

.margin-l-r( @l ; @r ) {
  .margin-l( @l );
  .margin-r( @r );
}

.margin-t-b-l-r( @t ; @b ; @l ; @r ) {
  .margin-t( @t );
  .margin-b( @b );
  .margin-l( @l );
  .margin-r( @r );
}

///-----------------
/// set 2 at a time
///-----------------

.margin-tb( @tb ) {
  .margin-t( @t );
  .margin-b( @b );
}

.margin-lr( @lr ) {
  .margin-l( @l );
  .margin-r( @r );
}

.margin-tb-lr( @tb ; @lr ) {
  .margin-tb( @tb );
  .margin-lr( @lr );
}

///-----------------
/// set 4 at a time
///-----------------

.margin-tblr( @tblr ) {
  margin: @tblr;
}

///-----------------
/// end elements (first and last elements)
///-----------------

.end-margin-tb( @w : 0 ) {
	&:first-child {
		margin-top: @w;
	}
	&:last-child {
		margin-bottom: @w;
	}
}

.end-margin-lr( @w : 0 ) {
	&:first-child {
		margin-left: @w;
	}
	&:last-child {
		margin-right: @w;
	}
}
