///-------------------------------------
/// SIZE
///-------------------------------------
/// h = height
/// w = width
/// hw = height + width
///-------------------------------------
/// cascade
///-----------------

.size(
	@hw : auto ;
	@h : @hw ; @w : @hw
) {
	height: @h;
	width: @w;
}

///-----------------
/// single properties
///-----------------

.size-h( @h ) { height : @h; }
.size-w( @w ) { width  : @w; }

///-----------------
/// multiple properties
///-----------------

.size-hw( @hw ) {
	.size-hw( @hw ; @hw );
}
.size-hw( @h ; @w ) {
	.size-h( @h );
	.size-w( @w );
}

///-----------------
/// extra
///-----------------

.hw-100of() { .h-100of(); .w-100of(); }
.h-100of() { height: 100%; }
.w-100of() { width: 100%; }